.cart-icon {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.cart-icon .shopping-icon {
    width: 24px;
    height: 24px;
}
.cart-icon .item-count {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    bottom: 12px;
}
